//neat overrides
$max-width: 1132px; //overide neat outer container width
$visual-grid: false; 

//colours
$orange: #EE7D00;
$grey: #615E60;
$blue: #0085B3;
$brown: #CFAD81;

$gutter: 12px;

//font face


//fonts
$varela: "Varela Round", sans-serif;

//break points
$break-small: 639px;
$break-medium: 767px; //ipad 
$break-large: 979px;
$break-xlarge: 1132px;