//neat overrides
$max-width: 1132px; //overide neat outer container width
$visual-grid: false; 

//colours
$orange: #EE7D00;
$grey: #615E60;
$dark-grey: #464545;
$blue: #00AEEF;
//$brown: #CFAD81;
$brown: #00AEEF;
$purple: #7467A3;
$red: #E96335;
$pink: #944E7A;
$gutter: 12px;

//font face

//fonts
$varela: "Varela Round", sans-serif;

//break points
$break-small: 639px;
$break-medium: 767px; //ipad 
$break-large: 979px;
$break-xlarge: 1132px;
$break-nav: 1200px;