//neat overrides
$max-width: 1132px; //overide neat outer container width
$visual-grid: false; 

//colours
$orange: #ee7203;
$grey: #7c7c7b;
$dark-grey: darken($grey,10);
$blue: #009fe3;
//$brown: #CFAD81;
$brown: #00AEEF;
$purple: #7467A3;
$red: #E96335;
$pink: #ec008c;
$green: #76b82a;
$gutter: 12px;

//font face

//fonts
$varela: "Varela Round", sans-serif;

//break points
$break-small: 640px;
$break-medium: 767px; //ipad 
$break-large: 979px;
$break-xlarge: 1132px;
$break-nav: 1200px;