a{
	&.fit-cell{
	@include abs-pos(0,0,0,0);
	padding: $gutter;
	display:block;
	color:$grey;
	background-color:white;
	text-transform:uppercase;
		.cell &{
			text-transform: none;
		}
		&.orange{
			background-color: $orange;
			color:white;
		}
		&.grey{
			background-color: $grey;
			color:white;
		}
		&.blue{
			background-color: $blue;
			color:white;
		}
		&.brown{
			background-color: $brown;
			color:white;
		}
	}
}
.bg-fill-cell{
	@include bg-cover;
}